extends ../layout

block stylesheet
	link(rel='stylesheet', href='/stylesheets/auth.css')


block content
	#error
		p= error

	p sign in page
	form(action="/auth/signin" method="post")
		label Email
		- if (email)
			input(name="email" type="email" placeholder="example@abc.com" value=email)
		- else
			input(name="email" type="email" placeholder="example@abc.com")

		label Password
		input(name="password" type="password" placeholder="password")
		input(type="submit" value="signin")