extends layout

block content

	#landing
		div(class="container")
			.row
				img(src="/images/leafii.svg") 
				h5 Online Portfolio Search Engine

		div(class="container")
			.row
				h6 Sign up. Let recruiters find you
				a(href="/auth/signup" class="signUpbtn")
					button Sign Up 
					

