extends layout

block content

	#landing
		div(class="container")
			.row
				img(src="/images/leafii.svg") 
				h5 Online Portfolio Search Engine

		div(class="container")
			.row
				h6 Make your personal website visible.
				a(href="/auth/signup" class="signUpbtn")
					button Submit my domain
					

