extends layout

block content

	#landing
		div(class="container")
			.row
				img(src="/images/leafii.svg" class="animated bounceInDown") 
				h5(class="animated fadeIn") Online Portfolio Search Engine

		div(class="container animated fadeInUp")
			.row
				h6 Make your personal website visible.
				h6 Submit to get notified when platform is ready
				a(href="/auth/signup" class="signUpbtn")
					button Submit my Domain
					

