doctype html
html(prefix="og: http://ogp.me/ns#")
	head
		title= title || Leafii
		block meta	
			meta(property="og:title" content="Leafii")
			meta(property="og:type" content="website")
			meta(property="og:url" content="http://www.leafii.com")
			meta(property="og:image" content="http://www.leafii.com/images/finite_logo_leaf.png")
			meta(property="og:description" content="Digital portfolio search engine. Submit your URL & get discovered by recruiters today!")
			meta(property="fb:app_id" content="1630201160635801")
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='/stylesheets/Skeleton-2.0.4/css/normalize.css')
		link(rel='stylesheet', href='/stylesheets/Skeleton-2.0.4/css/skeleton.css')
		link(rel='stylesheet', href='/stylesheets/Fonts/raleway.css')
		link(rel='stylesheet', href='/stylesheets/css/animate.css')
		link(rel='stylesheet', href='/stylesheets/css/auth.css')
		link(rel='stylesheet', href='/stylesheets/css/admin.css')
		link(rel='stylesheet', href='/stylesheets/css/profile.css')
		link(rel='stylesheet', href='/stylesheets/css/landing.css')
		link(rel='stylesheet', href='/stylesheets/css/thankyou.css')

	body
		block content
			div(class="container")
				div(class="row")
					div(class="four columns") &nbsp;
					div(class="four columns")
						p "Woops! something went wrong!"
						img(src="/images/err.jpg")
					div(class="four columns") &nbsp;
