doctype html
html
	head
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='/stylesheets/Skeleton-2.0.4/css/normalize.css')
		link(rel='stylesheet', href='/stylesheets/Skeleton-2.0.4/css/skeleton.css')
		link(rel='stylesheet', href='/stylesheets/Fonts/raleway.css')
<<<<<<< HEAD
		link(rel='stylesheet', href='/stylesheets/auth.css')
		link(rel='stylesheet', href='/stylesheets/thankyou.css')
		link(rel='stylesheet', href='/stylesheets/animate.css')
		link(rel='stylesheet', href='/stylesheets/landing.css')
=======

	block stylesheet
>>>>>>> 4df4f87906cee18368d1c8aefd376d1083100767

	body
		block content
			div(class="container")
				div(class="row")
					div(class="four columns") &nbsp;
					div(class="four columns")
						p "Woops! something went wrong!"
					div(class="four columns") &nbsp;