.sideMenu {
	
	position: absolute;
	height: 100%;
	width: 210px !important;
	border: solid;

}

.adminCheckBox {
	width: 1%;
	position: relative;
	top: 5px;
}

.panel {
	margin-left: 210px;
}

.user {
	padding: 20px;
	border-bottom: solid;
}

.menu-title {
	padding: 15px;
	font-weight: 600;
	cursor: pointer;
	border: solid;
	text-transform: uppercase;
}

.menu-title:hover {
	background-color: rgba(0,0,0,0.2);
}

.menu-title.active {
	color: #fff;
	background-color: rgba(0,0,0,0.7);
}