extends layout

block stylesheet
	link(rel='stylesheet', href='/stylesheets/auth.css')


block content

	#header
		.container
			.row
				h1 Feedback

	.container
		.form(class="animated fadeIn")
			form(action="/auth/signin" method="post")
				.field-wrap
					label Name
					input(name="name" type='text', placeholder="Bobby")

				.field-wrap
					label Email Address
						span.req *
					input(name="email" type='email', placeholder="example@xyz.com" required)

				.field-wrap
					label Feedback
					textarea(name="feedback" type='text', placeholder="Need more features")

				
				if error
					.field-wrap
						div(id="error" class="animated fadeIn")
							p= error

				.field-wrap
					input(type='submit' value="Submit")
